---
import '~/styles/app.css'
import { ClientRouter } from 'astro:transitions'
import { Providers } from '~/components/providers'

// eslint-disable-next-line unicorn/prevent-abbreviations -- Astro uses Props by convention
interface Props {
  title: string
  description?: string
}

const { title, description = 'React template powered by Astro' } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='description' content={description} />
    <link rel='icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'
    />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <Providers client:load>
      <main id='main-content'>
        <slot />
      </main>
    </Providers>
  </body>
</html>
